<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Sohbet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="video-container">
    <video id="remote-video" autoplay playsinline class="remote-video"></video>
    <video id="local-video" autoplay muted playsinline class="local-video"></video>
  </div>

  <div class="controls">
    <!-- Görüşmeyi başlatma butonu -->
    <ion-button *ngIf="!isCallStarted" expand="block" color="success" (click)="startVideoCall()">
      <ion-icon name="call-outline" color="light" slot="start"></ion-icon>
      <b style="color: white;">Görüşmeyi Başlat</b>
    </ion-button>

    <!-- Mikrofon ve Kamera aç/kapat butonları -->
    <ion-button expand="block" fill="outline" color="primary" (click)="toggleMicrophone()">
      <ion-icon [name]="isMicEnabled ? 'mic-off-outline' : 'mic-outline'" slot="start"></ion-icon>
      {{ isMicEnabled ? 'Mikrofonu Kapat' : 'Mikrofonu Aç' }}
    </ion-button>

    <ion-button expand="block" fill="outline" color="primary" (click)="toggleCamera()">
      <ion-icon [name]="isCamEnabled ? 'videocam-off-outline' : 'videocam-outline'" slot="start"></ion-icon>
      {{ isCamEnabled ? 'Kamerayı Kapat' : 'Kamerayı Aç' }}
    </ion-button>

    <!-- Görüşmeyi sonlandırma butonu -->
    <ion-button expand="block" color="danger" (click)="endCall()">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <b style="color: white;">Görüşmeyi Sonlandır</b>
    </ion-button>
  </div>
</ion-content>
