@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.large-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-video {
  position: absolute;
  width: 30%; /* Küçük video boyutunu küçült */
  height: 20%;
  bottom: 120px; /* Alt kenardan 30-40px yukarıda olacak şekilde ayarla */
  right: 20px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 8px;
}

.settings-icon {
  position: absolute;
  top: 60px; /* İkonu sağ üst köşeye taşımak için */
  right: 5px;
  z-index: 1000;
}



.fixed-controls {
  position: absolute;
  background-color: #fff;
  bottom: 55px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
