<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Sohbet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video-container">
    <video id="remote-video" autoplay playsinline [ngClass]="{ 'large-video': isRemoteLarge, 'small-video': !isRemoteLarge }"></video>
    <video id="local-video" autoplay muted playsinline [ngClass]="{ 'large-video': !isRemoteLarge, 'small-video': isRemoteLarge }"></video>
  </div>

  <!-- Ayarlar ikonu -->
  <div class="settings-icon">
    <ion-button fill="clear" (click)="toggleSettings()" color="light">
      <ion-icon name="settings-outline" size="large"></ion-icon>
    </ion-button>
  </div>

  <!-- Kontroller -->
  <div class="controls fixed-controls" *ngIf="isSettingsOpen">
    <ion-button *ngIf="!isCallStarted" color="success" (click)="startVideoCall()" fill="clear">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="toggleMicrophone()" fill="clear">
      <ion-icon [name]="isMicEnabled ? 'mic-outline' : 'mic-off-outline'"></ion-icon>
    </ion-button>

    <ion-button (click)="toggleCamera()" fill="clear">
      <ion-icon [name]="isCamEnabled ? 'videocam-off-outline' : 'videocam-outline'"></ion-icon>
    </ion-button>

    <ion-button (click)="toggleSwap()" fill="clear">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
    </ion-button>

    <ion-button color="danger" (click)="endCall()" fill="clear">
      <ion-icon name="call-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
