.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  height: 80px;
}

ion-card-title {
  text-align: center;
  font-size: 24px;
}


.register-container {
  text-align: center;
  margin-top: 20px;
}

.register-container p {
  margin: 0;
}

.register-container a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

ion-label {
  color: #34343C !important;
}

p {
  font-weight: 500 !important;
}

ion-button {
  font-weight: 600;
  --border-color: rgba(0, 146, 129, 1);
  --color: rgba(0, 146, 129, 1);
}


.google {
  --color: #00b894;
  --border-color: #00b894;
}
.yesil {
  color: rgba(0, 146, 129, 1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px; /* Label yazı boyutu */
  font-weight: bold; /* Yazı kalınlığı */
  font-family: Inter !important;
  color: #000; /* Yazı rengi */
}

.input-container {
  width: 100%;
  max-width: 400px; /* Maksimum genişlik */
  margin: 20px auto; /* Ortalamak için margin */
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.forminput {
  width: 100%; /* Tam genişlik */
  padding: 10px; /* İç boşluk */
  border: 2px solid #20B2AA; /* Kenarlık rengi ve kalınlığı */
  border-radius: 10px; /* Kenarları yuvarlama */
  font-size: 16px; /* Yazı boyutu */
  color: #333; /* Yazı rengi */
  box-sizing: border-box; /* Kenarlık ve padding'i dahil et */
  background: white;
}

input::placeholder {
  color: #d3d3d3; /* Placeholder yazı rengi */
}

input:focus {
  outline: none;
  border-color: #008B8B; /* Focus sırasında kenarlık rengi */
}

/* Label için stil */
label {
  font-size: 16px; /* Label yazı boyutu */
  font-family: Inter !important;
  font-weight: bold; /* Yazı kalınlığı */
  color: #000; /* Yazı rengi */
}
