
<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card style="border-bottom: 3px solid rgba(0, 146, 129, 1) !important; box-shadow:unset !important;">
      <div class="logo-container">
        <ion-img *ngIf="arkaplan" [src]="serverpath + '/' + arkaplan.loginlogo" alt="{{ arkaplan.loginlogo }}" class="logo" />
      </div>
      <ion-card-header>
        <p style="font-size: 14px; font-weight: 500;">Kendinizi iyi hissetme yolculuğunuzda Therapydays yanınızda !
        </p>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="forminput" placeholder="Email">
          </div>

          <div class="input-container">
            <label for="password">Şifre</label>
            <input type="password" formControlName="password" class="forminput" placeholder="Şifre">
          </div>
            <div style="display: flex; align-items: center; gap: 10px;">
              <ion-label>Psikolog musunuz?</ion-label>
              <ion-checkbox formControlName="isPsikolog"></ion-checkbox>
            </div>
          <ion-button expand="block" type="submit" fill="outline"  style="margin-top: 50px;">Kayıt Ol</ion-button>
        </form>
        <div class="register-container">
          <p>Hesabın Var Mı ? <a routerLink="/login" style="color: rgba(0, 146, 129, 1) !important">Giriş yap</a></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
