<div style="padding: 16px; text-align: center; line-height: 30px; background-color: white; margin: 15px 0px;">
  <ion-text mode="ios">
    Haftanın En İyi Psikologları
  </ion-text>
</div>



  <div class="profile-list">
    <ion-card mode="ios" *ngFor="let profile of profiles" class="profile-card">
      <div class="avatar-wrapper">
        <ion-avatar>
          <ion-img [src]="profile.image" [alt]="profile.name"></ion-img>
        </ion-avatar>
      </div>
      <ion-card-content>
        <div class="status-wrapper">
          <div *ngIf="profile.isActive" class="status-indicator status-indicator-active">
            <ion-text style="color: #f2f2f2 !important;">Aktif</ion-text>
          </div>
          <div *ngIf="!profile.isActive" class="status-indicator status-indicator-passive">
            <ion-text>Pasif</ion-text>
          </div>
        </div>
        <ion-card-title>{{profile.name}}</ion-card-title>
        <p class="info-text">Yorumlar: {{profile.reviews}}</p>
        <p class="info-text">Puan: {{profile.rating}}</p>
        <ion-chip>
          <ion-label>{{profile.specialty}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
