<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" id="header">
    <ion-toolbar>
      <ion-title>
        Psikologlar
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar color="light" placeholder="Psikolog Ara"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ng-container *ngFor="let i of [1,2,3]">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <div class="profile-picture">
              <ion-img src="https://wallpapers.com/images/featured/cool-profile-picture-87h46gcobjl5e4xu.jpg"></ion-img>
            </div>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <ion-list [inset]="true">
              <ion-item>
                <ion-label>Arif Can Erciyas</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>232 Başvuru</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-align-self-center">
            <ion-button id="open-modal" expand="block" color="secondary" type="submit">
              <ion-icon name="arrow-forward-outline" slot="end"></ion-icon> <b>Profile Git</b></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-item-divider></ion-item-divider>
  </ng-container>



</ion-content>
