<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-right: 40px;">{{baslik}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="padding: 16px; width: 100%;">
    <ng-container *ngIf="!resim">
      <div style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
        <img src="../../../assets/alone.png" alt="alone" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </ng-container>

    <ng-container *ngIf="resim">
      <div style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
        <img src="{{serverpath}}/{{resim}}" alt="{{baslik}}" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </ng-container>

    <div style="width: 100%; display: flex; flex-direction: column; gap: 10px">
      <h2>{{baslik}}</h2>
      <p class="custom-p" [innerHTML]="stripHtmlTags(icerik)"></p>
      <i>Son iki hafta içinde yaşadıklarınızı değerlendirerek aşağıdaki seçeneklerde size uygun olanı seçiniz.</i>
    </div>
  </div>


  <form (ngSubmit)="onSubmit()" style="width: 100%; padding: 8px; display: flex; flex-direction: column; gap: 15px;">
    <div class="card" *ngFor="let test of selectedsorular; let i = index">
      <h5>{{ test.baslik }}</h5>
      <div class="radio-group" [(ngModel)]="selectedvalues[i]" [name]="test.baslik">
        <label class="radio-item" *ngFor="let yanit of test.yanitlar; let j = index">
          <input type="radio" [value]="yanit.puan" name="{{ test.baslik }}">
          <span class="custom-radio"></span>
          {{ yanit.baslik }}
        </label>
      </div>
    </div>

    <ion-button type="submit" fill="outline" expand="block" color="info">Testi Tamamla</ion-button>
  </form>
</ion-content>
<ion-loading [isOpen]="!isLoading" message="Yönlendiriliyorsunuz..."></ion-loading>
