@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

p {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 14px;
  color: #262626 !important;
  margin: 0 !important;
  line-height: 20px;
  margin-top: 15px !important;
}

i {
  font-family: Inter !important;
  font-weight: 700 !important;
  font-style: italic;
  font-size: 13px;
  color: #262626;
  margin: 0 !important;
  line-height: 20px;
}

h2 {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 17px;
  font-style: normal;
  margin-top: 15px !important;
  color: #262626 !important;
}

h5 {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 15px;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 10px !important;
}

ion-button {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 15px;
  font-style: normal;
  color: rgba(0, 146, 129, 1);
}

ion-loading {
  --spinner-color: rgba(0, 146, 129, 1);
  color: rgba(0, 146, 129, 1);
  font-size: 15px;
  font-weight: 500;
}
/* Kart stilini ayarla */
.card {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter" sans-serif !important;
}

/* Kart başlığı */
.card h5 {
  font-size: 16px;
  margin: 0;
  color: #333;
}

/* Radio grubu */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Her bir radyo öğesi */
.radio-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  position: relative;
  cursor: pointer;
  gap: 10px;
}



/* Gizli radio input */
.radio-item input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Özel radio düğmesi */
.radio-item .custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Seçili olduğunda görünüm */
.radio-item input[type="radio"]:checked + .custom-radio {
  border-color: rgba(0, 146, 129, 1);
  background-color: rgba(0, 146, 129, 1);
}

.radio-item input[type="radio"]:checked + .custom-radio::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hover durumunda efekt */
.radio-item:hover .custom-radio {
  border-color: #888;
}
