<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-content [fullscreen]="true">
  <div *ngIf="step == 0"
    style="display: flex; flex-direction: column; justify-content: space-between; height: 100%; width: 100%;">
    <div
      style="margin-top: 50px; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h2>Merhaba !</h2>
      <p>Size en uygun terapisti bulabilmek için bir kaç soru soracağız. Vereceğiniz cevaplar bu süreçte bize rehber
        olacak.</p>
    </div>
    <div
      style="width: 100%; margin-bottom: 100px; padding: 0px 25px; display: flex; justify-content: center; align-items: center;">
      <ion-button (click)="nextStep()" mode="ios" fill="solid" style="width: 100%;" color="tertiary"
        expand="block">Başla</ion-button>
    </div>
  </div>

  <div *ngIf="step == 1" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Terapi Türünü Seçiniz</h3>
      <p>Ne tür terapi almak istiyorsunuz ?</p>
    </div>
    <ion-select label="Terapi Seçin" placeholder="Aile Terapisi">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>

  <div *ngIf="step == 2" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Terapi Türünü Seçiniz</h3>
      <p>Ne tür terapi almak istiyorsunuz ?</p>
    </div>
    <ion-select label="Terapi Seçin" placeholder="Aile Terapisi">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>

  <div *ngIf="step == 3" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Kaç Yaşındasınız ?</h3>
    </div>
    <ion-input label="Yaşınız" label-placement="floating" fill="outline"></ion-input>

    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>

  <div *ngIf="step == 4" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Cinsel kimliğiniz nedir ?</h3>
    </div>
    <ion-select label="Cinsel Kimlik" placeholder="Erkek">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>


  <div *ngIf="step == 5" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Yaşadığınız sorunları en iyi ifade eden cümleyi seçiniz.</h3>
      <p>En fazla 3 seçim yapabilir yada bu soruyu atlayabilirsiniz.</p>
    </div>
    <ion-select label="Şikayet Seçiniz" placeholder="Kaygı ve Endişe">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>

  <div *ngIf="step == 6" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Size yardımcı olmasını istediğiniz terapistlerin özelliklerini giriniz.</h3>
    </div>
    <ion-select label="Özellikleri" placeholder="Hedef koymama yardımcı olan">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>

  <div *ngIf="step == 7" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
      <h3>Terapistinizin cinsiyetine dair tercihiniz var mı ?</h3>
    </div>
    <ion-select label="Cinsiyet" placeholder="Kadın">
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextStep()">Gönder</ion-button>
    </div>
  </div>

  <div *ngIf="step == 8" style="padding: 16px;">
    <div
      style="margin-top: 50px; width: 100%; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; padding: 16px; text-align: center;">
            <h3>Sizlere en uygun terapistleri sunuyoruz.</h3>
      <p>5 saniye sonra otomatik olarak sizlere en uygun terapistleri göstereceğiz.</p>
    </div>

    <ion-loading class="custom-loading" trigger="open-loading" message="Sizlere en uygun terapistleri arıyoruz."
      [duration]="5000"></ion-loading>

    <div style="width: 100%; margin-top: 20px; display: flex; justify-content: center; align-items: center;">
      <ion-button id="open-loading" mode="ios" fill="solid" style="width: 100%;" color="tertiary" expand="block"
        (click)="nextRouter()">Göster</ion-button>
    </div>
  </div>
</ion-content>
