<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-title>Odalarım</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <ng-container *ngIf="oda">
  <div style="display: flex; flex-direction: column; gap: 15px;">
    <div
      style="width: 100%; padding-left: 10px !important; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); height: auto; display: flex; flex-direction: column; background-color: transparent; border-left: 5px solid #54a0ff; border-radius: 5px; padding: 5px;">
      <div style="width: 100%; display: flex; align-items: center; justify-content: flex-start;">
        <div
          style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: baseline; width: 100%; height: 100%;">
          <p>{{oda[0].baslik}}</p>
          <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
            <ion-icon name="time-outline" slot="start"></ion-icon>
            <h4>{{oda[0].createdAt | date}}</h4>
          </div>
        </div>
        <ion-button fill="outline" (click)="openModal()">Detay</ion-button>

      </div>
      <div style="width: 100%; height: 1px; background-color: #707070; margin-top: 5px; margin-bottom: 5px;"></div>
      <div style="width: 100%;  display: flex; align-items: center; justify-content: left; gap: 15px;">
        <img style="width: 60px; height: 60px; border-radius: 50%;" alt="Silhouette of a person's head"
          src="../../../assets/bannerreklam.png" />
        <div
          style="width: 100%; height: 100%; display: flex; flex-direction: column; align-content: center; justify-content: center; gap: 10px;">
          <h4>Katılımcı Sayısı: {{oda[0].katilimcilar.length}}</h4>
          <p>Psikolog Sayısı : {{oda[0].psikologlar.length}}</p>
        </div>

      </div>

      <div style="width: 100%; padding: 8px; display: flex; flex-direction: column; gap: 10px; padding-top: 20px;">
        <h4 style="text-align: center;">{{oda[0].baslik}}</h4>
        <p style="font-size: 14px; color: #363636; font-weight: 600 !important;">{{oda[0].aciklama}}</p>
      </div>
    </div>
  </div>

  </ng-container>


</ion-content>


<ion-modal trigger="oda" #odamodal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel(odamodal)" [strong]="true">İptal</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-segment [(ngModel)]="selectedSegment" value="oda">
        <ion-segment-button value="oda">
          <ion-label>Oda</ion-label>
        </ion-segment-button>
        <ion-segment-button value="psikologlar">
          <ion-label>Psikologlar</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ng-container *ngIf="selectedSegment === 'oda'">
        <div style="padding-top: 16px;">
          <div style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
            <img [src]="serverpath + '/' + oda[0].resim" alt="alone" style="width: 100%; height: 100%; object-fit: cover;">
          </div>

          <div
            style="width: 100%; display: flex; flex-direction: column; gap: 10px; padding-top: 16px; margin-bottom: 16px;">
            <h2>{{oda[0].baslik}}</h2>
            <p>{{oda[0].aciklama}}</p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedSegment === 'psikologlar'">
        <div style="padding-top: 16px;">
          <div style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
            <img src="../../../assets/psikologlar.png" alt="psikolog"
              style="width: 100%; height: 100%; object-fit: cover;">
          </div>

          <h2 style="text-align: center; margin: 30px 0px !important;">{{oda[0].baslik}} Psikologları</h2>

          <div
            style="border-radius: 5px; display: flex; flex-direction: column; gap: 10px; width: 100%;  overflow-y: auto; overflow-x: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
            <a (click)="navigatePsikolog(terapist.id)"  *ngFor="let terapist of oda[0].psikologlar" style="width: 100%; display: flex; flex-direction: column; background-color: #fff; padding: 10px;  color: unset;
            font-size: unset !important;
            font-weight: unset !important;
            text-decoration: none !important;">
              <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
                <div style="width: 20%; height: 100%; display: flex; justify-content: center; align-items: center;">
                  <img style="border-radius: 50%; object-fit: cover; width: 60px; height: 60px;"
                    src="{{serverpath + '/' + terapist.resim}}" alt="{{terapist.adsoyad}}">
                </div>
                <div style="display: flex; flex-direction: column; gap: 10px; padding: 10px; width: 55%; height: 100%;">
                  <h2>{{terapist.adsoyad}}</h2>
                  <p>{{terapist.kategoriler[0].baslik}}</p>
                </div>
                <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 25%;">
                  <h2>{{terapist.fiyat}} TL</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
    </ion-content>
  </ng-template>
</ion-modal>
