<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom" class="transparent-tab-bar">
    <ion-tab-button tab="ara" href="/tabs/ara">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Terapist Ara</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="psikologlar" href="/tabs/psikologlar">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Psikologlar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hesabim" href="/tabs/hesabim">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Hesabım</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
