@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.doctor-card {
  width: 100%;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.doctor-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.doctor-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.doctor-details {
  display: flex;
  flex-direction: column;
}

.doctor-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.doctor-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f39c12;
  margin-top: 10px;
}

.time {
  color: #2ecc71;
  font-size: 12px;
}

.appointment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  margin-top: 10px;
}

.appointment button {
  padding: 10px 15px;
  border: 2px solid rgba(0, 146, 129, 1);
  background-color: white;
  border-radius: 5px;
  color: rgba(0, 146, 129, 1);
  cursor: pointer;
  font-weight: bold;
}

.appointment button:hover {
  background-color: #00a0e4;
  color: white;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  color: rgba(0, 146, 129, 1);
  cursor: pointer;
}



button {
  padding: 10px 15px;
  border: 2px solid rgba(0, 146, 129, 1);
  background-color: white;
  border-radius: 5px;
  color: rgba(0, 146, 129, 1);
  cursor: pointer;
  font-weight: bold;
}


ion-icon {
  padding: 10px;
  border-radius: 5px;
  background-color: #e6f4f2;
}



ion-searchbar {
  --icon-color: rgba(0, 146, 129, 1) !important;
  --clear-button-color: rgba(0, 146, 129, 1) !important;
  --cancel-button-color: rgba(0, 146, 129, 1) !important;
  --border-radius: 5px !important;
  --box-shadow: 0px 0px 0px 1.5px rgba(0, 146, 129, 1);
  --transition: all 0.3s ease-in-out;
  --color: #262626;
  color: rgba(0, 146, 129, 1) !important;
}

ion-toolbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

ion-header {
  box-shadow:  unset !important;
}

ion-button {
  color: rgba(0, 146, 129, 1);
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 14px;
}

ion-range {
  --pin-color: rgba(0, 146, 129, 1);
  --pin-background: rgba(0, 146, 129, 1);
  --bar-background: rgba(0, 146, 129, 1);
  --bar-background-active: rgba(0, 146, 129, 1);
  --knob-background: rgba(0, 146, 129, 1);
  --knob-box-shadow: rgba(0, 146, 129, 1);
}

ion-radio {
  --color-checked: rgba(0, 146, 129, 1);
}

ion-title {
  display: flex;
  align-items: center;
  margin: 0;
}

ion-radio,
div {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 14px;
}









