<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" id="header">
    <ion-toolbar class="transparent-toolbar">
      <ion-title>
        <img *ngIf="arkaplan" [src]="serverpath + '/' + arkaplan.logo" alt="Logo"
          style="height: 40px; vertical-align: middle;">
      </ion-title>
    </ion-toolbar>
    <ion-toolbar class="transparent-toolbar">
      <ion-searchbar [formControl]="searchControl" placeholder="Terapini Ara"></ion-searchbar>
    </ion-toolbar>
  </ion-header>




  <div style="padding: 0 16px 16px 16px; text-align: left; line-height: 15px; background-color: transparent; margin-top: 20px;">
    <h3 style="padding-left: 0 !important;" *ngIf="ad">Günaydın {{ad}}</h3>
    <h3 style="padding-left: 0 !important;" *ngIf="!ad">Günaydın</h3>
    <p>
      En iyi psikologlarımızdan terapi al.
    </p>
  </div>




  <ng-container *ngIf="upcomingSeanslar.length > 0">
    <div style="padding: 16px 16px 0px 16px;">
      <h4>Yaklaşan Randevularım</h4>


    <div
    style="width: 100%; margin-top: 15px; padding-left: 10px !important; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); height: 150px; display: flex; flex-direction: column; background-color: transparent; border-left: 5px solid rgba(0, 146, 129, 1); border-radius: 5px; padding: 5px;">
    <div style="width: 100%; height: 50%; display: flex; align-items: center; justify-content: space-between;">
      <div
        style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: baseline; width: 100%; height: 100%;">
        <p class="custom-p">Randevu Tarihi</p>
        <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
          <ion-icon style="background-color: unset !important; padding: unset !important; border-radius:  unset !important;" name="time-outline" slot="start"></ion-icon>
          <h4>{{seanslar[0].tarih}}</h4>
        </div>
      </div>
      <div *ngIf="seanslar[0].isUpcoming">
        <button (click)="navigateChat(seanslar[0])">Katıl</button>
      </div>
    </div>
    <div style="width: 100%; height: 1px; background-color: #707070; margin-top: 5px; margin-bottom: 5px;"></div>
    <div style="width: 100%; height: 50%; display: flex; align-items: center; justify-content: left; gap: 15px;">

      <img *ngIf="type === 'user'" style="width: 60px; height: 60px; border-radius: 50%;"
        alt="Silhouette of a person's head" src="{{serverpath}}/{{seanslar[0]['psikolog'].resim}}" />

      <img *ngIf="type !== 'user'" style="width: 60px; height: 60px; border-radius: 50%;"
        alt="Silhouette of a person's head" src="{{serverpath}}/{{seanslar[0]['user'].resim}}" />

      <div
        style="width: 100%; height: 100%; display: flex; flex-direction: column; align-content: center; justify-content: center; gap: 10px;">
        <h4>{{type !== 'user' ? seanslar[0]['user'].adsoyad : seanslar[0]['psikolog'].adsoyad}}</h4>
        <p *ngIf="type === 'user'">{{seanslar[0]['psikolog']['kategoriler'][0].baslik}}</p>
      </div>
    </div>
  </div>
    </div>




</ng-container>



  <div *ngIf="banners" style="height: 200px; width: 100%;  margin-top: 30px;  background: linear-gradient(to right, #dff4f2, #ffffff);">
    <div style="border-radius: 20px; width: inherit; display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; flex-direction: column; gap: 20px; height: 100%; width: 225px;">
        <h3 style="padding-left: 16px;">
          {{banners[1].icerik}}
          </h3>
          <p style="padding-left: 24px;">{{banners[1].aciklama}}</p>
      </div>

      <img src="../../../assets/doctor_img_bg.png" style="height: 100%;"/>
      <img
      src="{{serverpath}}/{{banners[1].resim}}"
      [ngStyle]="{'position': 'absolute', 'left': 'auto', 'right': '0', 'top': upcomingSeanslar.length > 0 ? '395px' : '195px'}"
    />

    </div>
  </div>



  <div
    class="panel">
    <h3 class="gri" style="color: #252424;">Psikologlar</h3>
    <a id="open-modal" class="yesil">Psikoloğumu Bul</a>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()" [strong]="true">İptal</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div style="padding: 16px; width: 100%;">
            <div style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
              <img src="../../../assets/search.png" alt="alone" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <div style="width: 100%; margin-top: 25px; margin-bottom: 25px;">
              <h2 style="text-align: center;">Sana uygun en iyi psikoloğu bulalım.</h2>
            </div>

            <form [formGroup]="filterPsikologForm"
              style="width: 100%; padding: 8px; display: flex; flex-direction: column; gap: 15px;">

              <div style="
          width: 100%;
          padding: 10px 10px 10px 10px;
          border-radius: 5px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: #fff;">
                <h5>Cinsiyet Tercihi</h5>

                <ion-radio-group formControlName="cinsiyet">
                  <ion-radio value="erkek" labelPlacement="end">Erkek</ion-radio><br />
                  <ion-radio value="kadin" labelPlacement="end">Kadın</ion-radio>
                </ion-radio-group>
              </div>

              <div style="
          width: 100%;
          padding: 10px 10px 10px 10px;
          border-radius: 5px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: #fff;">
                <h5>Yaş aralığı</h5>
                <ion-range formControlName="yas" dualKnobs="true" min="0" max="100" step="1" pin="true">
                  <ion-label slot="start">0</ion-label>
                  <ion-label slot="end">100</ion-label>
                </ion-range>
                <div>
                  Seçilen yaş aralığı: <span>{{ $any(this.filterPsikologForm.value.yas).lower }} - {{
                  $any(this.filterPsikologForm.value.yas).upper }}</span>
                </div>
              </div>

              <div style="
              width: 100%;
              padding: 10px 10px 10px 10px;
              border-radius: 5px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
              display: flex;
              flex-direction: column;
              gap: 10px;
              background-color: #fff;">
                <h5>Kategori Seçimi</h5>
                <ion-item>
                  <ion-label>Kategori</ion-label>
                  <ion-select formControlName="kategori" placeholder="Kategori seçin">
                    <ion-select-option *ngFor="let kategori of psikologkategoriler"
                      value="{{kategori.baslik}}">{{kategori.baslik}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <div>
                  Seçilen kategori: <span>{{ $any(this.filterPsikologForm.value.kategori) }}</span>
                </div>
              </div>


              <div style="
              width: 100%;
              padding: 10px 10px 10px 10px;
              border-radius: 5px;
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
              display: flex;
              flex-direction: column;
              gap: 10px;
              background-color: #fff;">
                <h5>Fiyat Aralığı</h5>
                <ion-range formControlName="fiyat" dualKnobs="true" min="0" max="10000" step="100" pin="true">
                  <ion-label slot="start">0</ion-label>
                  <ion-label slot="end">10000</ion-label>
                </ion-range>
                <div>
                  Seçilen fiyat aralığı: <span >{{ $any(this.filterPsikologForm.value.fiyat).lower }} - {{
                  $any(this.filterPsikologForm.value.fiyat).upper }}</span>
                </div>
              </div>

              <ion-button (click)="filterPsikolog()" fill="outline" expand="block" color="info">Filtrele</ion-button>
            </form>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>


  <div style="width: 100%;  display: flex; flex-direction: column; gap: 10px; margin-bottom: 10px; padding: 16px; max-height: 500px; overflow-y: auto;">
    <div class="doctor-card" *ngFor="let terapist of psikologlar">
      <ion-icon (click)="insertPuan(terapist.id)" class="heart-icon" name="heart-outline"></ion-icon>
      <div class="doctor-info">
          <img src="{{serverpath}}/{{terapist.resim}}" alt="Doctor Image">
          <div class="doctor-details">
              <h3>{{terapist.adsoyad}}</h3>
              <p>{{terapist.kategoriler[0].baslik}}</p>
              <div class="rating">
                  <span>★ {{terapist.puan}}</span>
                  <span>•</span>
                  <span *ngIf="terapist.psikologseans.length; else NoTime" class="time">{{terapist.psikologseans[0].baslangicsaat + '-' + terapist.psikologseans[0].bitissaat}}</span>
                  <ng-template #NoTime>
                    <span style="color: red;"> Dolu </span>
                  </ng-template>
                </div>
          </div>
      </div>
      <div class="appointment">
          <button routerLink="/psikolog/{{terapist.id}}">Görüntüle</button>
          <span class="price">{{terapist.fiyat}} ₺</span>
      </div>
  </div>

  </div>



  <!-- <div
    style="border-radius: 5px; display: flex; flex-direction: column; gap: 10px; width: 100%;  overflow-y: auto; overflow-x: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
    <a routerLink="/psikolog/{{terapist.id}}" *ngFor="let terapist of psikologlar" style="width: 100%; display: flex; flex-direction: column; background-color: #fff; padding: 10px;  color: unset;
  font-size: unset !important;
  font-weight: unset !important;
  text-decoration: none !important;">
      <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
        <div style="width: 20%; height: 100%; display: flex; justify-content: center; align-items: center;">
          <img style="border-radius: 50%; object-fit: cover; width: 60px; height: 60px;"
            src="{{serverpath}}/{{terapist.resim}}"
            alt="{{terapist.adsoyad}}">
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px; padding: 10px; width: 55%; height: 100%;">
          <h2>{{terapist.adsoyad}}</h2>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 25%;">
          <h2>{{terapist.fiyat}} TL</h2>
        </div>
      </div>
    </a>
  </div> -->

  <div *ngIf="banners" style="padding: 16px; border-radius: 5px; width: 100%; height: 125px; border-radius: 5px; ">
    <div
      style="display: flex; width: 100; height: 100%; box-shadow: 1px 2px 2px 1px rgba(0, 146, 129, 1); border-radius: 5px;">
      <div
        style="width: 70%; height: 100%; padding: 15px; display: flex; justify-content: center; align-items: center;">
        <h2 class="yesil">{{banners[0].icerik}}</h2>
      </div>
      <img [src]="serverpath + '/' + banners[0].resim" alt="bannerreklam" width="30%" height="100%">
    </div>
  </div>


  <div
    class="panel">
    <h3>Testler</h3>
    <a class="yesil">Sana Uygun Testlerimiz</a>
  </div>



  <div style="padding: 16px; width: 100%; height: 250px; display: -webkit-inline-box; gap: 10px; overflow: auto; ">
    <div *ngFor="let i of tests"
      style="height: 100%; width: 200px; background-color: #fff; border-radius: 5px; display: flex; flex-direction: column; padding: 5px; overflow: hidden;">
      <img src="{{serverpath}}/{{i.resim}}" alt="stres" style="width: 100%; height: 50%; object-fit: contain;">
      <div
        style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center; padding-top: 10px;">
        <h2 style="font-size: 15px;">{{i.baslik}}</h2>
        <button class="yesil" routerLink="/test/{{i.id}}"> Teste Başla </button>
      </div>
    </div>
  </div>


  <div
    class="panel">
    <h3>Bloglar</h3>
    <a routerLink="/bloglar" class="yesil">Hepsini Göster</a>
  </div>


  <div
    style="padding: 16px; width: 100%; height: 300px; display: -webkit-inline-box; gap: 10px; overflow: auto; ">
    <a routerLink="/bloglar/{{blog.id}}" *ngFor="let blog of blogs"
      style="height: 100%; width: 100%; border-bottom: 2px solid rgba(0, 146, 129, 1); background-color: #fff; border-radius: 10px; display: flex; justify-content: space-between; flex-direction: column; padding: 5px; overflow: hidden;">
      <img [src]="serverpath + '/' + blog.resim"
        alt="stres" style="width: 100%; height: 60%; object-fit: cover;">
      <div style="display: flex; flex-direction: column; gap: 10px; justify-content: left; padding: 10px;">
        <h2 class="yesil">{{ blog.baslik }}</h2>
        <p style="font-size: 14px; color: #252424;">{{blog.aciklama | truncate}}</p>
      </div>
    </a>
  </div>

  <div style="height: 75px;"></div>

</ion-content>
