<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Blog Detayı</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="blog"><div style="padding: 16px; text-align: center; line-height: 30px; background-color: white; margin: 15px 0px;">
  <ion-text>
    {{ blog.baslik }}
  </ion-text>
</div>


<ion-img [src]="serverpath + '/' + blog.resim" class="blog-image"></ion-img>
<div class="blog-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ blog.baslik }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p [innerHTML]="stripHtmlTags(blog.icerik)"></p>
    </ion-card-content>
  </ion-card>
</div>
</ng-container>




</ion-content>

