<ion-header>
  <ion-toolbar>
    <ion-title>Profilim</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="border-radius: 5px; display: flex; background-color: #54a0ff; height: 125px; width: 100%;">
      <div style="width: 30%; display: flex; justify-content: center; align-items: center; padding: 5px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4j6P_40m6z-_ZbAVkUsKt05BmGX8WUX-2cuY1PMLFng&s"
          style="width: 80px; height: 80px; border-radius: 50%;" />
      </div>
      <div
        style="width: 70%; display: flex; flex-direction: column; gap: 10px; padding: 10px; justify-content: center;">
        <h2>Zhafira Azalea</h2>
        <p>Aile Terapist</p>
      </div>
    </div>
  </div>


  <h2 style="font-size: 20px; margin-top: 30px !important; margin-bottom: 20px !important; color: #5a5353;">General</h2>
  <ion-list>
    <ion-item [button]="true" id="hesabim">
      <ion-icon color="danger" slot="start" name="settings-outline" size="medium"></ion-icon>
      <ion-label>Hesap Bilgileri</ion-label>
      <ion-note slot="end">Yönet</ion-note>
      <ion-modal trigger="hesabim" #modal1>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel(modal1)" [strong]="true">İptal</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <br>
            <ion-input label="Ad Soyad" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
            <br>
            <ion-input label="Yaş" type="number" label-placement="floating" fill="outline"
              placeholder="Enter text"></ion-input>
            <br>
            <ion-select label="Branş Kategorisi" label-placement="floating" fill="outline">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
            <br>
            <ion-select label="Cinsiyet" label-placement="floating" fill="outline">
              <ion-select-option value="erkek">Erkek</ion-select-option>
              <ion-select-option value="kadin">Kadın</ion-select-option>
            </ion-select>
            <br>
            <ion-button expand="block" fill="outline">
              <ion-icon slot="start" name="camera"></ion-icon>
              Fotoğraf Yükle
              <input type="file" accept="image/*" style="display: none;">
            </ion-button>
            <br>
            <ion-button class="update-button" expand="block">
              Güncelle
            </ion-button>
          </ion-content>


        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item [button]="true" id="odeme">
      <ion-icon color="primary" slot="start" name="card-outline" size="medium"></ion-icon>
      <ion-label>Ödeme Bilgileri</ion-label>
      <ion-note slot="end">Yönet</ion-note>
      <ion-modal trigger="odeme" #modal2>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel(modal2)" [strong]="true">İptal</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <br>
            <ion-input label="IBAN" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
            <br>
            <ion-item lines="none">
              <ion-label>Aktarılacak Bakiye</ion-label>
              <ion-badge color="primary" slot="end" class="balance-badge">
                1234.56 ₺
              </ion-badge>
            </ion-item>

            <ion-button class="update-button" expand="block">
              Güncelle
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item [button]="true" id="seans">
      <ion-icon color="tertiary" slot="start" name="construct-outline" size="medium"></ion-icon>
      <ion-label>Seans Ayarlarım</ion-label>
      <ion-note slot="end">Yönet</ion-note>
      <ion-modal trigger="seans" #modal3>
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel(modal3)" [strong]="true">İptal</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">

            <h2 style="color: #5a5353; margin: 20px 0px !important;">Müsait Zamanlarınız</h2>
            <ion-list style="margin-bottom: 30px;">
              <ion-item *ngFor="let session of sessions">
                <ion-label>
                  {{session.date}}: {{session.startTime}} - {{session.endTime}}
                </ion-label>
              </ion-item>
            </ion-list>

            <h2 style="color: #5a5353; margin: 20px 0px !important;">Seans Günü Ekle</h2>

            <ion-item>
              <ion-datetime display-format="HH:mm" [(ngModel)]="selectedTime" name="selectedTime"></ion-datetime>
            </ion-item>
            <ion-button expand="block" fill="outline" type="submit">Ekle</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>


    </ion-item>
  </ion-list>

</ion-content>
