@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


h2 {
  font-family: Inter !important;
  font-weight: 600 !important;
  margin: 0 !important;
  padding-left: 15px;
  font-size: 18px;
  color: #fff;
}

p {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 14px;
  color: #fff;
  margin: 0 !important;
}

ion-icon, ion-note, ion-button {
  color: rgba(0, 146, 129, 1);
}

ion-note {
  margin-top: 15px;
}

ion-input {
  --highlight-color-focused: rgba(0, 146, 129, 1);
}

ion-text {
  font-size: 15px !important;
}

ion-button {
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 14px;
  --border-color: rgba(0, 146, 129, 1);
}

ion-radio {
  --color-checked: rgba(0, 146, 129, 1);
}




.custom {
  color: rgba(0, 146, 129, 1) !important;
}

.custombutton {
  border: none !important;
}

ion-icon {
  padding: 10px;
  border-radius: 5px;
  background-color: #e6f4f2;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  // Bu stil, içeriğin ortalamanın dışına taşmasını önler
    overflow: hidden;
    white-space: nowrap;
}

ion-label {
    font-family: Inter !important;
      font-weight: 500 !important;
      font-size: 14px;
}

ion-item {
  margin-bottom: 15px !important;
}


ion-loading {
  --spinner-color: rgba(0, 146, 129, 1);
  color: rgba(0, 146, 129, 1);
  font-size: 15px;
  font-weight: 500;
}
