<ion-content [fullscreen]="true">
  <ion-header mode="ios" [translucent]="true" id="header">
    <ion-toolbar mode="ios" class="transparent-toolbar">
      <ion-title>Psikologlar</ion-title>
    </ion-toolbar>
    <ion-toolbar mode="ios" class="transparent-toolbar">
      <ion-searchbar mode="ios" class="ion-padding-top" placeholder="Terapini Ara"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <app-kategoriler></app-kategoriler>
  <app-filterpsikolog></app-filterpsikolog>
  <app-popular-psikologlar></app-popular-psikologlar>
  <app-blogs></app-blogs>
</ion-content>
