<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Psikologlar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">

  <div style="width: 100%; height: 250px; display: flex; justify-content: center; align-items: center;">
    <img src="../../../assets/psikologlar.png" alt="psikolog" style="width: 100%; height: 100%; object-fit: cover;">
  </div>

  <h2 style="text-align: center; margin: 30px 0px !important;">En iyi psikologlarımızı seç.</h2>

  <!-- <div
    style="border-radius: 5px; margin-bottom: 50px; display: flex; flex-direction: column; gap: 10px; width: 100%;  overflow-y: auto; overflow-x: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
    <a routerLink="/psikolog/{{terapist.id}}" *ngFor="let terapist of psikologlar" style="width: 100%; display: flex; flex-direction: column; background-color: #fff; padding: 10px;  color: unset;
  font-size: unset !important;
  font-weight: unset !important;
  text-decoration: none !important;">
      <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
        <div style="width: 20%; height: 100%; display: flex; justify-content: center; align-items: center;">
          <img style="border-radius: 50%; object-fit: cover; width: 60px; height: 60px;"
            src="{{serverpath}}/{{terapist.resim}}" alt="{{terapist.adsoyad}}">
        </div>
        <div style="display: flex; flex-direction: column; gap: 10px; padding: 10px; width: 55%; height: 100%;">
          <h2>{{terapist.adsoyad}}</h2>
          <p>{{terapist.kategoriler[0].baslik}}</p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 25%;">
          <h2>{{terapist.fiyat}} TL</h2>
        </div>
      </div>
    </a>
  </div> -->

  <div *ngIf="psikologlar" style="width: 100%; height: 350px; display: flex; flex-direction: column; gap: 10px;  max-height: 500px; overflow-y: auto; margin-bottom: 50px;">
    <ng-container *ngIf="oda">
      <div class="doctor-card" (click)="navigatePsikolog(terapist.id)" *ngFor="let terapist of oda[0].psikologlar">
        <ion-icon (click)="insertPuan(terapist.id)" class="heart-icon" name="heart-outline"></ion-icon>
        <div class="doctor-info">
            <img src="{{serverpath}}/{{terapist.resim}}" alt="Doctor Image">
            <div class="doctor-details">
                <h3>{{terapist.adsoyad}}</h3>
                <p>{{terapist.kategoriler[0].baslik}}</p>
                <div class="rating">
                    <span>★ {{terapist.puan}}</span>
                    <span>•</span>
                    <span *ngIf="terapist.psikologseans.length; else NoTime" class="time">{{terapist.psikologseans[0].baslangicsaat + '-' + terapist.psikologseans[0].bitissaat}}</span>
                    <ng-template #NoTime>
                      <span style="color: red;"> Dolu </span>
                    </ng-template>
                  </div>
            </div>
        </div>
        <div class="appointment">
            <button routerLink="/psikolog/{{terapist.id}}">Görüntüle</button>
            <span class="price" style="color: #00b894;"> Ücretsiz !</span>
        </div>
    </div>
    </ng-container>


    <div class="doctor-card" *ngFor="let terapist of psikologlar">
      <ion-icon (click)="insertPuan(terapist.id)" class="heart-icon" name="heart-outline"></ion-icon>
      <div class="doctor-info">
          <img src="{{serverpath}}/{{terapist.resim}}" alt="Doctor Image">
          <div class="doctor-details">
              <h3>{{terapist.adsoyad}}</h3>
              <p>{{terapist.kategoriler[0].baslik}}</p>
              <div class="rating">
                  <span>★ {{terapist.puan}}</span>
                  <span>•</span>
                  <span *ngIf="terapist.psikologseans.length; else NoTime" class="time">{{terapist.psikologseans[0].baslangicsaat + '-' + terapist.psikologseans[0].bitissaat}}</span>
                  <ng-template #NoTime>
                    <span style="color: red;"> Dolu </span>
                  </ng-template>
                </div>
          </div>
      </div>
      <div class="appointment">
          <button routerLink="/psikolog/{{terapist.id}}">Görüntüle</button>
          <span class="price">{{terapist.fiyat}} ₺</span>
      </div>
  </div>

  </div>
</ion-content>
