.blog-card {
  margin: 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 16px;
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

ion-card-header {
  padding-top: 0;
  gap: 10px;
}

ion-grid {
  margin-bottom: 50px !important;
}

ion-card-title {
  margin-top: 8px;
  font-size: 17px;
}

ion-card-subtitle {
  color: #8c8c8c;
  font-size: 0.875em;
}

ion-card-content {
  padding-top: 0;
}


ion-text {
  color: #34343C;
  font-family: "Inter" sans-serif !important;
  font-weight: 600;
  font-size: 18px;
}

p {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 500;
}

h3 {
  color: #34343C !important;
}
