<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Seanslar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container >
    <div style="padding: 16px; display: flex; flex-direction: column; gap: 15px;">
      <ng-container *ngIf="seanslar.length > 0; else noSeans">

        <div *ngFor="let seans of seanslar;"
        style="width: 100%; padding-left: 10px !important; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); height: 150px; display: flex; flex-direction: column; background-color: transparent; border-left: 5px solid rgba(0, 146, 129, 1); border-radius: 5px; padding: 5px;">
        <div style="width: 100%; height: 50%; display: flex; align-items: center; justify-content: space-between;">
          <div
            style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: baseline; width: 100%; height: 100%;">
            <p>Randevu Tarihi</p>
            <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
              <ion-icon name="time-outline" slot="start"></ion-icon>
              <h4>{{seans.tarih}}</h4>
            </div>
          </div>
          <div *ngIf="seans.isUpcoming">
            <button (click)="navigateChat(seans)">Katıl</button>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: #707070; margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 100%; height: 50%; display: flex; align-items: center; justify-content: left; gap: 15px;">

          <img *ngIf="type === 'user'" style="width: 60px; height: 60px; border-radius: 50%;"
            alt="Silhouette of a person's head" src="{{serverpath}}/{{seans['psikolog'].resim}}" />

          <img *ngIf="type !== 'user'" style="width: 60px; height: 60px; border-radius: 50%;"
            alt="Silhouette of a person's head" src="{{serverpath}}/{{seans['user'].resim}}" />

          <div
            style="width: 100%; height: 100%; display: flex; flex-direction: column; align-content: center; justify-content: center; gap: 10px;">
            <h4>{{type !== 'user' ? seans['user'].adsoyad : seans['psikolog'].adsoyad}}</h4>
            <p *ngIf="type === 'user'">{{seans['psikolog']['kategoriler'][0].baslik}}</p>
          </div>
        </div>
      </div>
      </ng-container>

      <ng-container *ngIf="randevu.length > 0;">
        <div *ngFor="let seans of randevu; else noRandevu"
        style="width: 100%; padding-left: 10px !important; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); height: 150px; display: flex; flex-direction: column; background-color: transparent; border-left: 5px solid rgba(0, 146, 129, 1); border-radius: 5px; padding: 5px;">
        <div style="width: 100%; height: 50%; display: flex; align-items: center; justify-content: space-between;">
          <div
            style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: baseline; width: 100%; height: 100%;">
            <p>Randevu Tarihi</p>
            <div style="display: flex; gap: 10px; justify-content: center; align-items: center;">
              <ion-icon name="time-outline" slot="start"></ion-icon>
              <h4>{{seans.tarih}}</h4>
            </div>
          </div>
          <div *ngIf="seans.isUpcoming">
            <button (click)="navigateChat(seans)" fill="outline">Katıl</button>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: #707070; margin-top: 5px; margin-bottom: 5px;"></div>
        <div style="width: 100%; height: 50%; display: flex; align-items: center; justify-content: left; gap: 15px;">

          <img *ngIf="type === 'user'" style="width: 60px; height: 60px; border-radius: 50%;"
            alt="Silhouette of a person's head" src="{{serverpath}}/{{seans['psikolog'].resim}}" />

          <img *ngIf="type !== 'user'" style="width: 60px; height: 60px; border-radius: 50%;"
            alt="Silhouette of a person's head" src="{{serverpath}}/{{seans['user'].resim}}" />

          <div
            style="width: 100%; height: 100%; display: flex; flex-direction: column; align-content: center; justify-content: center; gap: 10px;">
            <h4>{{type !== 'user' ? seans['user'].adsoyad : seans['psikolog'].adsoyad}}</h4>
            <p *ngIf="type === 'user'">{{seans['psikolog']['kategoriler'][0].baslik}}</p>
          </div>
        </div>
      </div>
      </ng-container>




          <ng-template #noSeans> Seans bulunmamakta </ng-template>
    </div>
  </ng-container>


</ion-content>
