/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

ion-text, ion-label, ion-card-title, b, p {
  font-family: Inter !important;
  font-weight: 700 !important;
}


ion-content {
  --background: none !important;
  background-image: url('https://i.pinimg.com/originals/a0/7e/8f/a07e8f05a7d516ba7fd90519c5126058.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
}

ion-card-content {
  text-align: center;
}

ion-header {
  --background: transparent;
}

.transparent-toolbar {
  --background: rgba(255, 255, 255, 0.5);
  --backdrop-filter: blur(10px);
  --border-color: transparent;
}


ion-searchbar {
  --background: #ffffff;
  --color: #777;
  --placeholder-color: #bbb;
  --icon-color: #999;
  --clear-icon-color: #999;
  --height: 40px;
  --border-radius: 20px;
  --padding-start: 15px;
  --padding-end: 15px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
}

ion-searchbar:hover {
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-searchbar:focus-within {
  --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}





.status-indicator {
  height: 25px;
  background-color: #90ee90;
  /* Açık yeşil renk */
  width: 100px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.status-indicator-active {
  background-color: #90ee90;
  /* Aktif durum için açık yeşil */
}

.status-indicator-passive {
  background-color: #ff6666;
  /* Pasif durum için açık kırmızı */
}

.status-indicator ion-text {
  color: white;
  font-weight: bold;
}
