/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --ion-color-custom: rgba(0, 146, 129, 1);  // Your custom color
  --ion-color-custom-select: rgba(0, 146, 129, 1);; /* Özel renk */
  --ion-color-custom-select-contrast: rgba(0, 146, 129, 1);; /* Seçili itemin kontrast rengi */
}


button {
  font-family: Inter !important;
  font-weight: 500 !important;
  border: 2px solid rgba(0, 146, 129, 1);
  background-color: unset;
  padding: 10px;
  border-radius: 10px;
}


a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  font-family: Inter !important;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: Inter !important;
  color: rgba(rgba(14, 13, 57, 1), 1);
  margin-bottom: 10px !important;
}

h4, h5, h2 {
  font-family: Inter !important;
  font-weight: 600 !important;
  margin: 0 !important;
  font-size: 16px;
}

p {
  font-family: Inter !important;
  font-weight: 500 !important;
  margin: 0 !important;
}


.panel {
  display: flex;
  border-bottom: 2px solid rgba(0, 146, 129, 1);
  justify-content: space-between;
  padding: 8px 12px;
  align-items: center;
  background-color: #fff;
  margin: 15px 0px;
  margin-top: 20px !important;
}

* {
  box-sizing: border-box;
}

:host ion-icon {
  color: rgba(0, 146, 129, 1);
  font-size: 1.5rem !important;
}

ion-card-content {
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 14px;
  color: #252424;
}



ion-text, ion-label, ion-card-title, b {
  font-family: Inter !important;
  font-weight: 600 !important;
}

.yesil {
  color: rgba(0, 146, 129, 1);
}

.gri {
  color: rgba(69, 69, 103, 1);
}


ion-card-content {
  text-align: center;
}

ion-header {
  --background: transparent;
}






.status-indicator {
  height: 25px;
  background-color: #90ee90;
  /* Açık yeşil renk */
  width: 100px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.status-indicator-active {
  background-color: #90ee90;
  /* Aktif durum için açık yeşil */
}

.status-indicator-passive {
  background-color: #ff6666;
  /* Pasif durum için açık kırmızı */
}

.status-indicator ion-text {
  color: white;
  font-weight: bold;
}



.blue {
  color: #54a0ff;
}




