<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-title>
      Kayıt Ol
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card>
      <div class="logo-container">
        <img src="https://seeklogo.com/images/C/capacitor-logo-DF3634DD70-seeklogo.com.png" alt="Logo" class="logo">
      </div>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Kayıt Ol</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Kullanıcı Adı</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Şifre</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" style="margin-top: 20px;">Kayıt Ol</ion-button>
        </form>
        <ion-button expand="block" (click)="loginWithGoogle()" style="margin-top: 20px;">Google ile Kayıt Ol</ion-button>
        <div class="register-container">
          <p>Hesabın Var Mı ? <a routerLink="/login">Giriş yap</a></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
