<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="psikolog" style="text-align: center; margin-right: 40px;">{{psikolog.adsoyad}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div
    style="width: 100%; display: flex; flex-direction: column; background-color: rgba(0, 146, 129, 1); color: #fff; border-radius: 5px; justify-content: center; align-items: center;">
    <div style="border-radius: 5px; display: flex;  height: 125px; width: 100%;">
      <div style="width: 30%; display: flex; justify-content: center; align-items: center; padding: 5px;">
        <ng-container *ngIf="psikolog">
          <img *ngIf="!psikolog.resim" src="../../../assets/demoavatar.png"
            style="width: 80px; height: 80px; border-radius: 50%;" />

          <img *ngIf="psikolog.resim" src="{{serverpath}}/{{psikolog.resim}}"
            style="width: 80px; height: 80px; border-radius: 50%;" />
        </ng-container>

      </div>
      <div
        style="width: 70%; display: flex; flex-direction: column; gap: 10px; padding: 10px; justify-content: center;">
        <h2 style="color: #fff;" *ngIf="psikolog">{{psikolog.adsoyad}}</h2>


        <ng-container *ngIf="psikolog">
          <ng-container *ngFor="let i of psikolog.kategoriler">
            <p>{{i.baslik}}</p>
          </ng-container>
        </ng-container>

      </div>
    </div>


  </div>
  <div style="width: 100%; margin-top: 16px;">
    <ion-button [disabled]="accountblock" id="UserSeansModal" fill="outline" *ngIf="type === 'user'" expand="block">
      <ion-icon name="color-wand-outline" slot="start" size="medium"></ion-icon>
      Görüşme Ayarla
    </ion-button>
  </div>

  <h2 style="margin: 20px 0px !important; color: #463c3c;">Uzmanlık Alanları</h2>
  <div style="border-radius: 5px;  width: 100%; display: flex; flex-direction: column; gap: 10px;">
    <ng-container *ngIf="psikolog">
      <div *ngFor="let skill of psikolog.ozellikler"
        style="border-radius: 5px; background-color: #fff; width: 100%; padding: 15px;">
        <h3>{{skill.baslik}}</h3>
      </div>
    </ng-container>
  </div>
  <h2 style="margin: 20px 0px !important; color: #463c3c;">Hakkında</h2>
  <p *ngIf="psikolog"
    style="line-height: 23px; border-radius: 5px; font-size: 16px; background-color: #fff; padding: 15px;">
    {{psikolog.hakkimda}}</p>
  <h2 style="margin: 20px 0px !important; color: #463c3c;">Eğitim</h2>
  <div
    style="background-color: #fff; gap: 10px; flex-direction: column; display: flex; padding: 15px; border-radius: 5px;">
    <b *ngIf="psikolog">{{psikolog.universite}}</b>
    <p *ngIf="psikolog">{{psikolog.bolum}}</p>
  </div>
  <div style="height: 50px;"></div>
</ion-content>


<ion-modal trigger="UserSeansModal" #UserSeansModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel(UserSeansModal)" [strong]="true">İptal</ion-button>
        </ion-buttons>
        <ion-title style="text-align: center; margin-right: 35px;">Seans Ayarla</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <!-- Belirli tarihlerde seçim yapabilmek için ion-datetime -->
      <ion-datetime
      [dayValues]="availableDays"
      [monthValues]="availableMonths"
      [min]="minDate"
      [max]="maxDate"
      (ionChange)="onDateChange($event)"
      display-format="DD MMMM YYYY"
      placeholder="Tarih Seçiniz"
      presentation="date"> <!-- Sadece tarih gösterimi -->
    </ion-datetime>


      <ng-container *ngIf="selectedDate && availableTimes.length > 0">
        <ion-list>
          <ion-radio-group [(ngModel)]="selectedSeans">
            <ion-item *ngFor="let time of availableTimes">
              <ion-label>{{ time.baslangicsaat }} - {{ time.bitissaat }}</ion-label>
              <ion-radio slot="start" [value]="time"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-container>

      <!-- Seans Ekle Butonu -->
      <ion-button style="margin-top: 15px;" [disabled]="!selectedSeans" (click)="seansAdd()" fill="outline" expand="block">
        <ion-icon name="add-outline" slot="start" size="medium"></ion-icon>
        Seans Ekle
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
