<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Zhafira Azalea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div
    style="width: 100%; display: flex; flex-direction: column; background-color: #fff; justify-content: center; align-items: center;">
    <div style="border-radius: 5px; display: flex;  height: 125px; width: 100%;">
      <div style="width: 30%; display: flex; justify-content: center; align-items: center; padding: 5px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4j6P_40m6z-_ZbAVkUsKt05BmGX8WUX-2cuY1PMLFng&s"
          style="width: 80px; height: 80px; border-radius: 50%;" />
      </div>
      <div
        style="width: 70%; display: flex; flex-direction: column; gap: 10px; padding: 10px; justify-content: center;">
        <h2>Zhafira Azalea</h2>
        <p>Aile Terapist</p>
      </div>
    </div>
    <ion-button expand="block">
      <ion-icon name="color-wand-outline" slot="start" size="medium"></ion-icon>
      Görüşme Ayarla
    </ion-button>
  </div>

  <h2 style="margin: 20px 0px !important; color: #463c3c;">Uzmanlık Alanları</h2>
  <div style="border-radius: 5px;  width: 100%; display: flex; flex-direction: column; gap: 10px;">

    <div style="border-radius: 5px; background-color: #fff; width: 100%; padding: 15px;">
      <h3>Stres</h3>
    </div>

    <div style="border-radius: 5px; background-color: #fff; width: 100%; padding: 15px;">
      <h3>Kaygı</h3>
    </div>

    <div style="border-radius: 5px; background-color: #fff; width: 100%; padding: 15px;">
      <h3>Anksiyete</h3>
    </div>
  </div>
  <h2 style="margin: 20px 0px !important; color: #463c3c;">Hakkında</h2>
  <p style="line-height: 23px; border-radius: 5px; font-size: 16px; background-color: #fff; padding: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laboriosam maiores rerum delectus ducimus, obcaecati nesciunt, dolor dignissimos dolore modi culpa doloribus sunt architecto magnam aliquid earum possimus esse exercitationem in! Modi mollitia officiis soluta tempore at repellat fuga blanditiis doloribus? Ratione pariatur, non suscipit ipsa labore aspernatur ea porro iste, corrupti officia, repellat in nam. Ea repudiandae animi rerum nam neque odio officiis doloribus quae perspiciatis, vitae sunt culpa dicta facere eaque quisquam eligendi laboriosam asperiores earum nostrum, ducimus autem. Iusto quasi at sint assumenda rerum aperiam quidem repellendus error commodi illum? A quasi tenetur nulla magni ex saepe.</p>


    <h2 style="margin: 20px 0px !important; color: #463c3c;">Eğitim</h2>

  <div style="background-color: #fff; gap: 10px; flex-direction: column; display: flex; padding: 15px; border-radius: 5px;">
        <b>Ankara Yıldırım Beyazıt Üniversitesi</b>
        <p>Psikoloji Lisans</p>
  </div>

  <div style="height: 50px;">

  </div>

</ion-content>
